[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git@github.com:jcordry/vim-latex.git
[submodule "vim/bundle/c.vim"]
	path = vim/bundle/c.vim
	url = git@github.com:jcordry/c.vim.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/tmuxline-vim"]
	path = vim/bundle/tmuxline-vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/promptline"]
	path = vim/bundle/promptline
	url = git@github.com:edkolev/promptline.vim.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/bash-support"]
	path = vim/bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/bundle/autocorrect"]
	path = vim/bundle/autocorrect
	url = https://github.com/panozzaj/vim-autocorrect.git
[submodule "vim/bundle/vim-erlang-runtime"]
	path = vim/bundle/vim-erlang-runtime
	url = git@github.com:vim-erlang/vim-erlang-runtime.git
[submodule "vim/bundle/vim-erlang-compiler"]
	path = vim/bundle/vim-erlang-compiler
	url = git@github.com:vim-erlang/vim-erlang-compiler.git
[submodule "vim/bundle/vim-erlang-omnicomplete"]
	path = vim/bundle/vim-erlang-omnicomplete
	url = git@github.com:vim-erlang/vim-erlang-omnicomplete.git
[submodule "vim/bundle/vim-erlang-tags"]
	path = vim/bundle/vim-erlang-tags
	url = git@github.com:vim-erlang/vim-erlang-tags.git
